@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.carousel {
  width: 100%;
}

.carousel__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.carousel__title {
  font-size: 24px;
}

.carousel__cards {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 12px 0 20px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.carousel__buttons {
  display: flex;
  gap: 16px;
}

.carousel__button {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px $icons-color solid;
  background-color: $bg-color;
  cursor: pointer;
  caret-color: transparent;

  &:hover {
    border-color: $black;
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;

    &:hover {
      border-color: $icons-color;
    }
  }
}

.carousel__card_wrapper {
  flex: 0 0 auto;
  scroll-snap-align: start;
}
